.form{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  .spacingVertical{
    margin-top: 50px;
    margin-bottom: 50px;
  }

}

.formSpacing{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottomSpacing{
  margin-bottom: 40px;
}

.preloaderCenter{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.successImage{
  margin-top: 50px;
  margin-bottom: 100px;
}

.headingPost{
  text-align: center;
}

@media screen and (max-width: 360px){
  .headingPost{
    padding: 0 16px;
  }
}
