$color-primary: #F4E041;
$color-primary-light: #FFE302;

$color-secondary: #00BDD3;
$color-background: #F8F8F8;

$color-disabled: #B4B4B4;

$color-font-negative: #ffffff;
$color-font: #211D00;

$color-form-disabled: #7E7E7E;
$color-form-error: #CB3D40;
