$primary-font: 'Nunito', sans-serif;

@mixin font($size: 1.5em, $line-height: 1.5em, $weight: 400){
  font-family: $primary-font;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
}
