.banner{
  position: relative;

  background-size: 133%;
  background-position: bottom;
  .bannerOverlay{
    padding: 164px 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
  }
  .bannerContent{
    max-width: 380px;
    margin: 0 auto;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bannerP{
    margin-top: 20px;
    margin-bottom: 33px;
  }
}

.heading{
  text-align: center;
  margin-bottom: 50px;
}

.section{
  padding-top: 140px;
}

.cardSection{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.form{
  width: 100%;
  padding: 0 16px;
  max-width: min(380px + 16px * 2, 100%);
}

@media screen and (max-width: 768px){
  .banner{
    .bannerOverlay{
      padding: 89px 0;
    }
    background-size: auto 100%;
  }
}



@media screen and (max-width: 360px){
  .banner{
    .bannerOverlay{
      padding: 40px 0 71px 0;
    }
    background-size: auto 100%;
    .bannerContent{
      width: 100%;
      padding: 0 16px;
    }
  }
  .heading, .headingPost{
    padding: 0 16px;
  }
}

.formSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

